{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="ie=edge" http-equiv="X-UA-Compatible">
        <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
        <script src="https://kit.fontawesome.com/632585e591.js"></script>
        <title>{{ title }}</title>
    </head>

    <body>

        <!--TODO: add header nav -->
        <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar navbar-dark bg-dark">
            <a class="navbar-brand mr-0 mr-md-2 text-primary" href="/design">C</a>
            <div class="navbar-nav-scroll">
                <ul class="navbar-nav bd-navbar-nav flex-row">
                    <li class="nav-item">
                        <a class="nav-link{% if title == 'page_titles[0]' %} 'active'{% endif %}" href="{% url 'design' %}">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'docs' %}">Documentation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">HTTP League</a>
                    </li>
                </ul>
            </div>
            <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
                <li class="nav-item">
                    <a aria-label="GitHub" class="nav-link p-2" href="https://github.com/http-league/http-league/tree" rel="noopener" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a aria-label="Twitter" class="nav-link p-2" href="https://twitter.com/httpleague/" rel="noopener" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>

            </ul>

        </header>

        <!--TODO: add main content container -->
        {% block content %}{% endblock %}
        <script src="{% static 'js/main.js' %}"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    </body>

</html>
