{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="ie=edge" http-equiv="X-UA-Compatible">
        <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
        <script src="https://kit.fontawesome.com/632585e591.js"></script>
        <title>{{ title }}</title>
    </head>

    <body>

        <!--TODO: add header nav -->
        <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar navbar-dark bg-dark">
            <a class="navbar-brand mr-0 mr-md-2 text-primary" href="/design">C</a>
            <div class="navbar-nav-scroll">
                <ul class="navbar-nav bd-navbar-nav flex-row" id="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cup_home' %}">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if title == 'Introduction · Cup' %} 'active' {% endif %}" href="{% url 'docs' %}">
                            Documentation
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">HTTP League</a>
                    </li>
                </ul>
            </div>
            <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
                <li class="nav-item">
                    <a aria-label="GitHub" class="nav-link p-2" href="https://github.com/http-league/http-league/tree" rel="noopener" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a aria-label="Twitter" class="nav-link p-2" href="https://twitter.com/httpleague/" rel="noopener" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>

            </ul>
        </header>
        <!--TODO: add main content container -->
        <div class="container-fluid">
            <div
                class="row flex-xl-nowrap">
                <!--TODO: add sidbar nav -->
                <div class="col-12 col-md-3 col-xs-2 cd-sidebar">
                    <div class="cd-menu d-flex align-items-center">
                        <span>Documentation</span>
                        <button aria-controls="cd-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation" class="btn btn-link cd-docs-toggle d-md-none p-0 ml-3" data-target="#cd-docs-nav" data-toggle="collapse" type="button">
                            <svg focusable="false" height="30" role="img" viewbox="0 0 30 30" width="30" xmlns="http://www.w3.org/2000/svg">
                                <title>Menu</title>
                                <path d="M4 7h22M4 15h22M4 23h22" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" stroke="currentColor"></path>
                            </svg>
                        </button>
                    </div>
                    <nav class="collapse cd-links" id="cd-docs-nav">
                        <div class="cd-toc-item">
                            <a class="cd-toc-link" href="">
                                Getting Started
                            </a>
                            <ul class="nav cd-sidenav">
                                <li>
                                    <a href="">Introduction</a>
                                </li>
                                <li>
                                    <a href="">Build Tools</a>
                                </li>
                            </ul>
                        </div>
                        <div class="cd-toc-item">
                            <a class="cd-toc-link" href=""></a>
                            <ul class="nav cd-sidenav">
                                <li>
                                    <a href=""></a>
                                </li>
                            </ul>
                        </div>
                        <div class="cd-toc-item">
                            <a class="cd-toc-link" href=""></a>
                            <ul class="nav cd-sidenav">
                                <li>
                                    <a href=""></a>
                                </li>
                            </ul>
                        </div>
                        <div class="cd-toc-item">
                            <a class="cd-toc-link" href=""></a>
                            <ul class="nav cd-sidenav">
                                <li>
                                    <a href=""></a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        {% block content %}{% endblock %}
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    </body>

</html>
