{% extends "../layout.html" %}

{% block content %}


    <section class="post-single">
        <div class="submit">
            {% if error_message %}
                <p class="red-text">{{ error_message }}</p>
            {% endif %}
            <h6 class="submit-title">Sign Up</h6>
            <form action="{% url 'signup' %}" method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div class="field">
                        <label for="{{ field.id_for_label}}">{{field.html_name }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
                <button class="button" type="submit" value="Sign Up">Sign Up</button>

            </form>
        </div>
    </section>

{% endblock %}
