{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="ie=edge" http-equiv="X-UA-Compatible">
        <script src="https://kit.fontawesome.com/632585e591.js"></script>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <title>{{ title }}</title>
    </head>
    <nav>
        <section>
            <a href="/">Home</a>
            <a href="{% url 'main_about' %}">About</a>
            <a href="{% url 'blog' %}">Blog</a>
            <a href="/">Community</a>
            <a href="{% url 'cup_home' %}">Cup</a>
            <a href="{% url 'submission_create' %}">
                Submit a site
            </a>
        </section>
    </nav>

    <main>
        <a class="toggle-nav" href="#">
            Menu
        </a>
        <div id="overlay"></div>

        {% block content %}{% endblock content %}
        <footer>
            <p>All Rights Reserved, &copy;
                {{ year }}</p>
        </footer>
    </main>
    <body>
        <script src="{% static 'js/menu.js' %}"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    </body>

</html>
