{% extends "../layout.html" %}
{% block content %}
    {% for photo in site.photo_set.all %}
        <article class="post-single">
            <a href="{{ site.url }}" target="_blank">
                <img src="{{ photo.url }}" alt="{{ site.name }}">
            </a>
            <div class="flex post-meta">
                <div>

                    <h6>{{site.name}}</h6>
                </div>
                <div>
                    <p>{{ site.category_set }}</p>
                </div>
                <div>
                    <p>{{ site.pub_date|date:"M d Y" }}</p>
                </div>
            </div>
        </article>
        {% empty %}

        <article class="post-single">
            <div class="submit">
                <h4>There are no photos yet...</h4>
                <h6 class="submit-title">Add Screenshot</h6>
                <form name="photos" class="flex" action="{% url 'add_site_photo' site.id %}" enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    <input multiple name="photo-files" type="file">
                    <button class="btn" type="submit">Submit</button>
                </form>
            </article>
        {% endfor %}


    {% endblock %}
