/*------------------------------*\
    CUP STYLES
\*-------------------------------*/

//Header

// SIDEBAR
.cd-sidebar {
    order: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.cd-menu {
    position: relative;
    padding: 1rem 15px;
    margin-right: -15px;
    margin-left: -15px;
    border-bottom: 1px solid rgba(0,0,0,.05);
}

[type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.cd-links {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-right: -15px;
    margin-left: -15px;
}


// Footer 

.cd-footer {
    font-size: .875rem;
    background-color: #f7f7f7;
}

.cd-footer-links {
    padding-left: 0;
    margin-bottom: 1rem;
}


// Utilities
svg {
    overflow: hidden;
    vertical-align: middle;
}
// Media Queries
@media (min-width: 576px){
    .cd-footer {
   text-align: left;
    }
}